# Only accessible from the server components or server functions
BACKEND_API_URL=http://localhost:5000 
# Accessible from the client and server components or server functions
NEXT_PUBLIC_BACKEND_API_URL=http://localhost:5000 
